$logo-header-color-first: #2196f3;
$logo-header-color-second: #000000;

$site-nav-links: #000000;
$site-nav-links-hover: #2196f3;

$email-number-color-fonts: #757575;
$email-number-color-icon: #757575;
$email-number-color-fonts-hover: #2196f3;
$email-number-color-icon-hover: #2196f3;

.main-header {
  border-bottom: 1px solid #ececec;
}

.logo-style {
  display: flex;
  align-items: center;

  min-width: 134px;
}

.font--style--blue {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  color: #2196f3;
}

.font--style--black {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  color: #000000;
}

// mobile button
.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  width: 40px;
  height: 40px;

  margin-left: auto;

  cursor: pointer;
}

.menu-button .icon-close-menu {
  display: none;
}

.menu-button.is-open .icon-close-menu {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile-menu-button {
  display: flex;

  width: 40px;
  height: 40px;

  justify-content: center;
  align-items: center;
}

// links

.site-nav {
  display: none;
}

.our-contacts {
  display: none;
}
