$portfolio-overlay-font-color: #ffffff;
$portfolio-overlay-item-color: rgba(33, 150, 243, 0.9);

/* Animation for portfolio */

.animation-thumb-item {
  position: relative;
  overflow: hidden;
}

.overlay-item {
  position: absolute;
  display: flex;

  width: 100%;
  height: 1000%;

  top: 0%;
  left: 0%;

  background-color: $portfolio-overlay-item-color;

  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-dis-items:hover .overlay-item {
  transform: translateX(0);
}

.overlay-font {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;

  color: $portfolio-overlay-font-color;
  padding: 63px 24px 63px 24px;
}

/* -------------------------------Animation END----------------------------------- */

/* --------------------------------------------------------------------------------- */
/* second variant */

/* .projects-dis-items {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-dis-items:nth-child(3n) {
  margin-right: 0;
}
.projects-dis-items:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
/* --------------------------------------------------------------------------------- */
