$font-stack: Roboto, sans-serif;
$primary-color: #fff;

html {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: $primary-color;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* margin-padding top and bottom no */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0;
  padding: 0 0;
}

/* list style - none */
ul {
  list-style-type: none;
  margin: 0 0;
  padding: 0 0;
}

figure {
  margin: 0 0;
  padding: 0 0;
}

/* container */
.container {
  max-width: 1200px;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-widht: 576px) {
    width: 576px;
  }

  @media screen and (min-widht: 768px) {
    width: 768px;
  }

  @media screen and (min-widht: 1200px) {
    width: 1200px;
  }
}

/* section */
.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* portfolio */
.section-portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.navigation-container {
  display: flex;

  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;

  padding-top: 24px;
  padding-bottom: 24px;

  @media screen and (max-width: 767px) {
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    height: 80px;
  }

  @media screen and (min-width: 1200px) {
    height: 80px;
  }
}
