/* section first */
.main-banner {
  max-width: 1600px;
  height: 400px;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.6),
      rgba(47, 48, 58, 0.6)
    ),
    url(/assets/image/headerimgmob.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 480px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.6),
          rgba(47, 48, 58, 0.6)
        ),
        url(/assets/image/headerimgmob@2.jpg);
    }
  }
  @media screen and (min-width: 481px) and (max-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.6),
        rgba(47, 48, 58, 0.6)
      ),
      url(/assets/image/Headerimgpads.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.6),
            rgba(47, 48, 58, 0.6)
          ),
          url(/assets/image/Headerpadsimg@2x.jpg);
      }
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.6),
        rgba(47, 48, 58, 0.6)
      ),
      url(/assets/image/HeaderImgdesct.jpg);
    height: 400px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.6),
            rgba(47, 48, 58, 0.6)
          ),
          url(/assets/image/headerimg@2.jpg);
      }
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 100%;
    height: 650px;
  }
}

.btn-tittle {
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 481px) and (max-width: 768px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.title-container {
  display: flex;
  justify-content: center;
  text-align: center;

  padding: 0 0;
}

.font-banner-style {
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 0;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 60px;
  }
}

.container-btn .btn-style {
  outline: none;
}

.container-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-top: 30px;

  @media screen and (min-width: 1200px) {
    margin-top: 40px;
  }
}

.btn-style {
  display: inline-block;

  font-style: normal;
  font-weight: 700px;
  font-size: 17px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid transparent;

  min-width: 200px;
  padding: 10px 32px;

  color: #ffffff;
  background-color: #2196f3;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-style:hover {
  cursor: pointer;
  background-color: hsl(207, 94%, 50%);
}
