/* projects */

.our-projects {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.projects-section-header {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 50px;

  text-align: center;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.projects-list-item {
  position: relative;
  overflow: hidden;

  z-index: -1;
}

.projects-list-item:nth-child(n + 2) {
  margin-left: 30px;
}

.projects-list-item img {
  width: 370px;
}

.projects-description {
  position: absolute;

  width: 100%;
  height: 70px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  padding: 27px;

  background-color: rgba(47, 48, 58, 0.8);

  bottom: 1%;
  left: 0%;
  color: #ffffff;
}
