$ourteam-bg-color: #f5f4fa;
$figure-card-color: #ffffff;

$ourtem-header-color: #212121;
$our-team-names-color: #212121;
$team-members-position-color: #757575;

$main-color-icons-hover: #2196f3;

$main-color-icons-fill: #afb1b8;
$main-color-icons-fill-hover: #ffffff;

.our-team {
  background: $ourteam-bg-color;
}

.our-team-header {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;

  color: $ourtem-header-color;

  margin-bottom: 30px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 42px;

    margin-bottom: 50px;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;

    justify-content: center;
  }
}

.card-list-item {
  justify-content: center;

  max-width: 450px;

  margin-bottom: 30px;
  margin-left: 30px;

  @media screen and (max-width: 767px) {
    margin-left: 0;
  }

  @media screen and (min-width: 768px) {
    display: flex;

    width: 354px;

    margin-left: 0;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1122px) and (max-width: 1199px) {
    display: block;
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    display: flex;
    width: 270px;
  }
}
.card-list-item:nth-child(-n + 2) {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-bottom: 30px;
  }
}
.card-list-item:nth-child(2n) {
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    margin-left: 30px;
  }
}

.card-list-item:nth-last-child(-n + 3) {
  @media screen and (min-width: 1200px) {
    margin-left: 30px;
  }
}

.figure-card {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;

  background-color: $figure-card-color;
}

.team-images {
  max-width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.our-team-names {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  color: $our-team-names-color;

  text-align: center;
}

.our-team-names:nth-child(-n + 5) {
  margin-top: 30px;
}

.team-members-position {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  color: $team-members-position-color;

  text-align: center;
}

.social-media-list {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 24px 16px 32px;
  border-radius: 0px 0px 4px 4px;
}

.button-card-style {
  padding: 0;
  background: none;
  border-style: none;

  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  border-radius: 2em;

  transition: 300ms;
}
.button-card-style:hover,
:focus {
  background-color: $main-color-icons-hover;
  border-radius: 2em;
}

.icon-inst-svg {
  width: 44px;
  height: 44px;

  border-radius: 2em;

  fill: $main-color-icons-fill;
  cursor: pointer;

  transition: 300ms;
}

.icon-inst-svg:hover,
:focus {
  fill: $main-color-icons-fill-hover;
}

.team-members-position:nth-child(-n + 5) {
  margin-top: 10px;
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
}

.social-media-list:nth-child(n + 2) {
  padding-bottom: 24px;
}
